{% extends "base.html.jinja2" %}


{% block content %}
    {% block navigation_bar %}
        <div class="nav_panel" >
            <div class="div_aligned">
                <img src="/static/images/logo_imt.jpg" class="logo" alt="Logo Imt Atlantique">
                <label class="research_bar">Search for IMT'stagramers:
                    <input type="text">
                </label>
            </div>
            <div class="div_aligned">
                <button>Search</button>

            </div>
            <div class="div_aligned">
                <ul>
                    <li style="display:inline">
                        <a href="http://127.0.0.1:5000/">
                        <img src="/static/images/icone_maison2.png" class="clickable_icon" alt="logo Home" />
                        </a>
                    </li>
                    <li style="display:inline">
                        <a href=>
                            <div class="clickable_icon div_aligned">
                                Profile
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {% endblock %}

    {% block main_page %}
        <div class="main_page">
            {% for influencer in influencers -%}
                <table class="photos_list">
                    <tr>
                        <dl class="photos_list">
                            <dt size="4pt"><b>{{ influencer.username }}</b></dt>
                            <dd>{{ influencer.email }}</dd>
                        </dl>
                    </tr>
                </table>
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}