{% extends "template_bootstrap1.jinja2" %}



    {% block content %}
        <div class="panneau_debut" >
            <>
                <img src="/static/images/logo_imt.jpg" class="img" alt="Logo Imt Atlantique">
                <label class="barre_recherche">Search for IMT'stagramers:
                    <input type="text">
                </label>
                <button>Search</button>
            </div>
        </div>
    {% endblock %}