{% extends "base_with_nav_bar.jinja2" %}


    {% block main_page %}
        <div class="main_page">
            {% for influencer in influencers -%}
                <table class="photos_list">
                    <tr>
                        <dl class="photos_list">
                            <dt size="4pt"><b>{{ influencer.username }}</b></dt>
                            <dd>{{ influencer.email }}</dd>
                        </dl>
                    </tr>
                </table>
            {% endfor %}
        </div>
    {% endblock %}