{% extends "profile_page.jinja2"   %}

{% block name_displayed %}
    {{ name }}
{% endblock %}

{% block can_add_photo %}
    <img src="/static/images/Logo-plus.png" width="100px" />
    <form action="/add_photo" method = "POST">
    <input name="photo" type = "text">
    </form>
{% endblock %}
