{% extends "base_with_nav_bar.jinja2" %}

{% block content %}
    <link href="{{ url_for('static', filename='stylesheets/profile_page_CSS.css') }}" rel="stylesheet">

<div style="padding-top: 20px">
    <table class="profile_stats">
        <tr >
            <td>
                *photo de profil*
            </td>
            <td style="padding-left: 30px">
                <ul>
                    <ul>
                        <li class="profile_infos">
                            {{ name }}
                        </li>
                        <li class="profile_infos">
                            {% if current_user.is_authenticated %}
                                Contact
                            {% endif %}
                        </li>
                    </ul>
                    <ul class="profile_infos">
                        *Description*
                    </ul>
                </ul>

            </td>

        </tr>

    </table>

</div>


    <div style="padding-top: 20px">
        <!-- Faire une boucle for sur les images de la personne et en afficher 3 par ligne -->
        <table class="photo_placement">
            <tr>
                <td>
                    img1
                </td>
                <td>
                    img2
                </td>
                <td>
                    img3
                </td>
            </tr>
            <tr>
                <td>
                    img4
                </td>
                <td>
                    img5
                </td>
                <td>
                    img6
                </td>
            </tr>


        </table>
    </div>

{% endblock %}