body {
    margin: 0;
}

.panneau_debut {
    border: 2px solid #ccc;
    font-size: 15px;
    line-height: 20px;
}

.img {
    width: 150px;
    margin-left: 300px;
}

.barre_recherche {
    margin-left: 200px;
}
