body {
    margin: 0;
}

.nav_panel {
    font-size: 15px;
}

.logo {
    width: 150px;
    margin-right: 200px;
}

.research_bar {
    margin-left: 100px;
}

.clickable_icon {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.div_aligned {
    display: inline-block;
}

.main_page {
    margin-left: 600px;
}

.photos_list {
    padding-top: 30px;
}

.profile_picture {
    border-radius: 50%;

    height: 60px;
}

.thin_line {
    border-bottom: 1px solid rgba(255, 255, 255, .75);
    height: 1px;
    margin-top: 3rem;
}

.grid-container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    border-radius: 80px;

}

.grid-item {
    border: 1px solid rgba(255, 255, 255, .75);
}



.mx-5 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.mt-3 {
    margin-top: 3rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 33%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}