body {
    margin: 0;
}

.nav_panel {
    border: 2px solid #ccc;
    font-size: 15px;
}

.logo {
    width: 150px;
    margin-right: 200px;
}

.research_bar {
    margin-left: 100px;
}

.clickable_icon {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.div_aligned {
    display : inline-block;
}

.main_page {
    margin-left: 600px;
}

.photos_list{
    padding-top: 30px;
}
